<mat-card class="card card-style">

    <mat-card-title class="card-title">
        Add Movie
    </mat-card-title>

    <form [formGroup]="createForm" (ngSubmit)="createMovie()">
        <mat-form-field appearance="fill">
            <input matInput placeholder="Movie Title" formControlName="title">
            <mat-error *ngIf="createForm.get('title')?.errors && createForm.get('title')?.hasError('required')">
                Field <strong>Title</strong> is required!
            </mat-error>
            <mat-error *ngIf="createForm.get('title')?.hasError('minlength')">
                Field <strong>Title</strong> must be at least {{ createForm.get('title')?.errors?.['minlength'].requiredLength }} characters long.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput placeholder="Year" formControlName="year">
            <mat-error *ngIf="errorHandlingForm('year', 'required')">
                Field <strong>Year</strong> is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput placeholder="Genre(s)" formControlName="genre">
            <mat-error *ngIf="errorHandlingForm('genre', 'required')">
                Field <strong>Genre(s)</strong> is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput placeholder="Rating" formControlName="rating">
            <mat-error *ngIf="errorHandlingForm('rating', 'required')">
                Field <strong>Rating</strong> is required!
            </mat-error>
        </mat-form-field>
        
        <div class="btn_add_item">
            <button mat-flat-button color="primary" type="submit" [disabled]="!createForm.valid">Save</button>
            <button mat-flat-button color="warn" (click)="cancel()">Cancel</button>
        </div>
    </form>

</mat-card>

