html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.red {
  color: red;
}

.vertical-middle {
  vertical-align: middle;
}

.card-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
  line-height: 1.2;
}

.card-subtitle {
  font-size: 0.8rem;
}

.card {
  padding: 10px;
}

.btn_add_item {
  display: flex;
  justify-content: flex-end;
}

button {
  margin: 5px 10px 0 0;
}

.snack-message-success {
  background-color: #000;
  color: #ffffff;
}

.snack-message-error {
  background-color: #f33d3d;
  color: #ffffff;
}

.snack-message-error button {
  color: #ffffffe6;
}

::ng-deep .mat-raised-button.mat-primary {
  background-color: #1976d2;
  color: white;
}

.confirm-dialog-container #no-button {
  height: 50px;
  width: 45%;
  background-color: #fc7169;
  color: #fff;
}

.confirm-dialog-container #yes-button {
  height: 50px;
  width: 45%;
  background-color: #6b94e5ff;
  color: #fff;
}


