.table {
    margin-top: 30px;
    width: 100%;
}

.action {
    margin-right: 10px;
    cursor: pointer;
}

.edit > i {
    color: rgb(119, 119, 235);
}

.delete > i {
    color: rgb(230, 115, 115);
}